<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
      <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Perfil</h1>
      <div class="d-inline-flex mb-lg-5">
          <p class="m-0 text-white"><a class="text-white" routerLink="/home">Home</a></p>
          <p class="m-0 text-white px-2">/</p>
          <p class="m-0 text-white">Perfil</p>
      </div>
  </div>
</div>
<!-- Page Header End -->


 <!-- Sección de perfil -->
 <div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <img src="https://i.pinimg.com/564x/4d/b5/46/4db5460490d3a81f81894e1cb3595e41.jpg" class="card-img-top" alt="Foto de perfil">
              <div class="card-body">
                  <h5 class="card-title">Nombre del Usuario</h5>
                  <p class="card-text">correoejemplo.com</p>
                  <p class="card-text">Ubicación: Ciudad, País</p>
                  <p class="card-text">Descripción breve sobre el usuario.</p>
                  <a href="#" class="btn btn-primary">Editar perfil</a>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <h3>Información adicional</h3>
          <table class="table">
              <tbody>
                  <tr>
                      <th scope="row">Teléfono:</th>
                      <td>+123 456 789</td>
                  </tr>
                  <tr>
                      <th scope="row">Fecha de nacimiento:</th>
                      <td>01/01/1990</td>
                  </tr>
                  <tr>
                      <th scope="row">Género:</th>
                      <td>Masculino</td>
                  </tr>
                  <tr>
                      <th scope="row">Dirección:</th>
                      <td>Calle Falsa 123, Ciudad, País</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
